"*":
  "atom-beautify":
    general:
      _analyticsUserId: "fe0fab1b-cdbb-4aa2-b567-c057bb30a0d5"
  core:
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "DejaVu Sans Mono"
    invisibles: {}
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "68bc8403-a81a-7b7d-6bf5-833fbcc51ec1"
  welcome:
    showOnStartup: false
